
  <div class="m-container m-container--fluid m-container--full-height m-page__container">
      <div class="m-stack m-stack--flex-tablet-and-mobile m-stack--ver m-stack--desktop">
          <div class="m-stack__item m-stack__item--left m-stack__item--middle m-stack__item--last" style="text-align:center">
              <span class="m-footer__copyright">
                  2019 &copy;
                  <a href="http://www.upween.com/" target="_blank" class="m-link">
                      Upween India Private Limited
                  </a>
              </span>
          </div>
      </div>
  </div>
