
       <script src="../js/vendors.bundle.js" type="text/javascript"></script>
       <script src="../js/scripts.bundle.js" type="text/javascript"></script>
       <script src="../js/dashboard.js" type="text/javascript"></script>
       <script src="../js/fullcalendar.bundle.js" type="text/javascript"></script>
       <script src="../js/global.js" type="text/javascript"></script>
       <script src="../customjs/common.js" type="text/javascript"></script>