<!DOCTYPE html>

<html lang="en" >
	<!-- begin::Head -->
	<head>
		<% include ../../partials/head %>
	</head>

	
	<!-- end::Head -->
    <!-- end::Body -->
	<body  class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--fixed m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default"  >
		<!-- begin:: Page -->
		<div class="m-grid m-grid--hor m-grid--root m-page">
			<!-- BEGIN: Header -->
			<header>
				<% include ../../partials/header %>
			</header>
			<!-- END: Header -->		
		<!-- begin::Body -->
			<div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
				<!-- BEGIN: Left Aside -->
				<button class="m-aside-left-close m-aside-left-close--skin-dark" id="m_aside_left_close_btn">
					<i class="la la-close"></i>
				</button>
				<% include ../../partials/Sideheader %>
				<!-- END: Left Aside -->
				<div class="m-grid__item m-grid__item--fluid m-wrapper">
					<!-- BEGIN: Subheader -->
					<div class="m-subheader ">
						<div class="d-flex align-items-center">
							<div class="mr-auto">
                                    <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                                            <li class="m-nav__item m-nav__item--home">
                                                <a href="/" class="m-nav__link m-nav__link--icon">
                                                    <i class="m-nav__link-icon la la-home"></i>
                                                </a>
                                            </li>
                                            <li class="m-nav__separator">
                                                -
                                            </li>
                                            <li class="m-nav__item">
                                                <a href="" class="m-nav__link">
                                                    <span class="m-nav__link-text">
                                                        Master
                                                    </span>
                                                </a>
                                            </li>
                                            <li class="m-nav__separator">
                                                -
                                            </li>
                                            <li class="m-nav__item">
                                                <a href="" class="m-nav__link">
                                                    <span class="m-nav__link-text">
                                                        Education Master
                                                    </span>
                                                </a>
                                            </li>
        
                                        </ul>
							</div>
							<div>
								  
							</div>
						</div>
					</div>
					<!-- END: Subheader -->
                    <div class="m-content">
                        <div class="m-portlet">
                            <div class="m-portlet__head">
                                <div class="m-portlet__head-caption">
                                    <div class="m-portlet__head-title">
                                        <span class="m-portlet__head-icon m--hide">
                                            <i class="la la-gear"></i>
                                        </span>
                                        <h3 class="m-portlet__head-text">
                                            Education Master
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <!--begin::Form-->
                            <form class="m-form">
                                <div class="m-portlet__body">
                                    <div class="m-form__section m-form__section--first">
    
                                        <div class="form-group m-form__group row">
                                            <label class="col-lg-3 col-form-label">
                                                Education Name<span class="required" style="color:red;">*</span> :
                                            </label>
                                            <div class="col-lg-6">
                                                <input type="text" id="txtEducationName" maxlength="40" class="form-control m-input alphaOnly" placeholder="Enter Education Name">
    
                                            </div>
                                            
                                        </div>
                                        <div class="m-form__group form-group row">
                                            <label class="col-lg-3 col-form-label">
                                                Active Status :
                                            </label>
                                            <div class="col-lg-6">
                                                <div class="m-checkbox-inline">
                                                    <label class="m-checkbox">
                                                        <input type="checkbox" id="chkActiveStatus">
                                                        <span></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="m-portlet__foot m-portlet__foot--fit">
                                    <div class="m-form__actions m-form__actions">
                                        <div class="row">
                                            <div class="col-lg-3"></div>
                                            <div class="col-lg-6">
                                                <button type="button" id="btnSubmit" class="btn btn-success" style="background-color:#22b9ff;border-color:#22b9ff;">
                                                    Submit
                                                </button>
                                                <button type="button" id="btnReset" onclick="resetMode()" class="btn btn-secondary">
                                                    Reset
                                                </button>
                                            </div>
                                        </div>
                                        <div class="form-group m-form__group row">
                                            <div class="col-lg-12">
                                                <input type="text" id="txtSearch" placeholder="Search..." class="form-control m-input" />
                                            </div>
                                        </div>
                                        <div class="form-group m-form__group row">
                                            <div class="col-lg-12">
                                                <table class="table table-bordered m-table m-table--border-brand m-table--head-bg-brand">
                                                    <thead>
                                                        <tr>
                                                            <th>
                                                                #
                                                            </th>
                                                            <th>
                                                                Education
                                                            </th>
                                                            <th>
                                                                Active
                                                            </th>
                                                            <th>
                                                                Edit
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="tbodyvalue"></tbody>
                                                </table>
                                                  </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!--end::Form-->
                            
                        </div>
                    </div>
				</div>
			</div>
			<!-- end:: Body -->
<!-- begin::Footer -->
			<footer class="m-grid__item		m-footer ">
				<% include ../../partials/footer %>
			</footer>
			<!-- end::Footer -->
		</div>
		<!-- end:: Page -->
    		        <!-- begin::Quick Sidebar -->
                   
		<!-- end::Quick Sidebar -->		    
	    <!-- begin::Scroll Top -->
		<div id="m_scroll_top" class="m-scroll-top">
			<i class="la la-arrow-up"></i>
		</div>
		<!-- end::Scroll Top -->		    <!-- begin::Quick Nav -->
		 	<!-- end::Scroll Top -->
		<!-- begin::Quick Nav -->	
        <% include ../../partials/script %>
        <script src="../customjs/Masters/Education.js" type="text/javascript"></script>
        <script type="text/javascript">
 $(document).ready(function () {
   
    fillEducation('parsedatasecuredfillFetchEducation','tbodyvalue');
});

            $("#btnSubmit").click(function () {
                CheckValidation();
                });
    
        </script>
	</body>
	<!-- end::Body -->
</html>
