<!DOCTYPE html>

<html lang="en" >
	<!-- begin::Head -->
	<head>
		<% include ../../partials/head %>
	</head>

	
	<!-- end::Head -->
    <!-- end::Body -->
	<body  class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--fixed m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default"  >
		<!-- begin:: Page -->
		<div class="m-grid m-grid--hor m-grid--root m-page">
			<!-- BEGIN: Header -->
			<header>
				<% include ../../partials/header %>
			</header>
			<!-- END: Header -->		
		<!-- begin::Body -->
			<div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
				<!-- BEGIN: Left Aside -->
				<button class="m-aside-left-close m-aside-left-close--skin-dark" id="m_aside_left_close_btn">
					<i class="la la-close"></i>
				</button>
				<% include ../../partials/Sideheader %>
				<!-- END: Left Aside -->
				<div class="m-grid__item m-grid__item--fluid m-wrapper">
					<!-- BEGIN: Subheader -->
					<div class="m-subheader ">
						<div class="d-flex align-items-center">
							<div class="mr-auto">
                                <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                                    <li class="m-nav__item m-nav__item--home">
                                        <a href="/" class="m-nav__link m-nav__link--icon">
                                            <i class="m-nav__link-icon la la-home"></i>
                                        </a>
                                    </li>
                                    <li class="m-nav__separator">
                                        -
                                    </li>
                                    <li class="m-nav__item">
                                        <a href="" class="m-nav__link">
                                            <span class="m-nav__link-text">
                                                Master
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-nav__separator">
                                        -
                                    </li>
                                    <li class="m-nav__item">
                                        <a href="" class="m-nav__link">
                                            <span class="m-nav__link-text">
                                                Administrator Rights
                                            </span>
                                        </a>
                                    </li>

                                </ul>
							</div>
							<div>
								  
							</div>
						</div>
					</div>
					<!-- END: Subheader -->
                    <div class="m-content">
                        <div class="m-portlet">
                            <div class="m-portlet__head">
                                <div class="m-portlet__head-caption">
                                    <div class="m-portlet__head-title">
                                        <span class="m-portlet__head-icon m--hide">
                                            <i class="la la-gear"></i>
                                        </span>
                                        <h3 class="m-portlet__head-text">
                                            Administrator Rights
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <!--begin::Form-->
                            <form class="m-form">
                             
                                <div class="m-portlet__foot m-portlet__foot--fit">
                                    <div class="m-form__actions m-form__actions">
                                    
                                        <div class="form-group m-form__group row">
                                            <div class="col-lg-12">
                                                <input type="text" id="txtSearch" placeholder="Search..." class="form-control m-input" />
                                            </div>
                                        </div>
                                        <div class="form-group m-form__group row">
                                            <div class="col-lg-12">
                                                <table class="table table-bordered m-table m-table--border-brand m-table--head-bg-brand">
                                                    <thead>
                                                        <tr>
                                                            
                                                            <th>
                                                              User Name
                                                            </th>
                                                            <th>
                                                                  Password
                                                            </th>
                                                            <th>
                                                               Type
                                                            </th>
                                                           
                                                        </tr>
                                                    </thead>
                                                    <tbody id="tbodyvalue"></tbody>
                                                </table>
                                            </div>
                                        </div>
    
    
                                    </div>
                                        </div>
    
    </form>
                            <!--end::Form-->
                            
                        </div>
                    </div>
				</div>
			</div>
			<!-- end:: Body -->
<!-- begin::Footer -->
			<footer class="m-grid__item		m-footer ">
				<% include ../../partials/footer %>
			</footer>
			<!-- end::Footer -->
		</div>
		<!-- end:: Page -->
    		
		<!-- end::Quick Sidebar -->		    
	    <!-- begin::Scroll Top -->
		<div id="m_scroll_top" class="m-scroll-top">
			<i class="la la-arrow-up"></i>
		</div>
		<!-- end::Scroll Top -->		    <!-- begin::Quick Nav -->

		<!-- begin::Quick Nav -->	
        <% include ../../partials/script %>
        <script src="../customjs/Masters/JobseekerEmployer.js" type="text/javascript"></script>
        <script type="text/javascript">
        $(document).ready(function () {
            fillTable('parsedatasecuredfillFetchTable','tbodyvalue');
        });
       </script>
	</body>
	<!-- end::Body -->
</html>
