<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body >


    <body  class="m--skin- m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default"  >
       
      
      <!-- begin:: Page -->
      <div class="m-grid m-grid--hor m-grid--root m-page">
        <div class="m-grid__item m-grid__item--fluid m-grid  m-error-5" style="background-image: url(../images/error/bg5.jpg);">
          <div class="m-error_container">
            <span class="m-error_title">
              <h1>
                Oops!
              </h1>
            </span>
            <p class="m-error_subtitle">
              Something went wrong  </br>
              <a href="/">     Click here to go back   </a>
           
            </p>
   
          </div>
        </div>
      </div>
      <!-- end:: Page -->
  
    </body>
 

  </body>
  </html>


